[flake8]
count = true

ignore = 
    E402, # Module import level.
    W504, # Line breaks.

per-file-ignores =
    # This is only for __init__.py when importing * from .
    aiobungie/__init__.py: F401,F403,F405

max-complexity = 20
max-function-length = 120
max-line-length = 120
docstring-convention = numpy