# PyPI packages.
*.egg-info
dist/
build/

# Enviroments
venv
.env
.venv/
venv/

# VS code configs.
.vscode/

# pipelines and workflow.
.nox

# aiobungie stuff.
*.zip
*.sqlite3
*.sqlite*.db
dropped/
season.py

# Cache
.cache/
__pycache__/
.mypy_cache/
.pytest_cache