# PyPI packages.
*.egg-info
dist/
build/

# Enviroments
*venv*/
.env
*.venv*/
*venv*/

# VS code configs.
.vscode/

# pipelines and workflow.
.nox/
*.pem

# Cache
.cache/
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/