# PyPI packages.
*.egg-info
dist/
build/

# Enviroments
*venv*/
.env
*.venv*/
*venv*/
# For python 3.10 testings.
.venv_10*/

# VS code configs.
.vscode/

# pipelines and workflow.
.nox/

# aiobungie stuff.
dropped/

# Cache
.cache/
__pycache__/
.mypy_cache/
.pytest_cache/
