# Tester.
nox~=2025.5.1

# Ducumentation.
pdoc~=15.0.4

# Testing and Mocking.
pytest~=8.4.1
pytest-asyncio~=1.0.0
mock~=5.2.0
python-dotenv~=1.1.1

# Format - Type checking.
ruff~=0.12.8
isort~=6.0.1
pyright~=1.1.402
typing-extensions~=4.14.1
codespell~=2.4.1
