# Tester.
nox~=2024.3.2

# Ducumentation.
pdoc~=14.4.0

# Testing and Mocking.
pytest~=8.1.0
pytest-asyncio~=0.23.5
mock~=5.1.0
python-dotenv~=1.0.1

# Format - Type checking.
ruff~=0.3.1
isort~=5.13.2
pyright~=1.1.352
typing-extensions~=4.10.0
codespell~=2.2.6
