# Tester.
nox~=2024.4.15

# Ducumentation.
pdoc~=14.4.0

# Testing and Mocking.
pytest~=8.1.1
pytest-asyncio~=0.23.6
mock~=5.1.0
python-dotenv~=1.0.1

# Format - Type checking.
ruff~=0.4.1
isort~=5.13.2
pyright~=1.1.359
typing-extensions~=4.11.0
codespell~=2.2.6
