{% extends "default/module.html.jinja2" %}
<style>
    {% block style_theme %}
        :root {
            --pdoc-background: #282a36;
        }
        .pdoc {
            --muted: #9d9d9d;
            --link: #ff79c6;
            --link-hover: #FFF;
            --code: #232627;
            --active: #555;
            --accent: #232627;
            --accent2: #ff79c6;
            --nav-hover: rgba(0, 0, 0, 0.1);
            --name: #50fa7b;
            --def: #ff79c6;
            --annotation: white;
        }
        .pdoc .attr {
            --text: #FFF;
        }
    {% endblock %}
</style>