name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types: [published]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-10.15, windows-2019]
        python-version: [3.9, 3.8, 3.10-dev]
    
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Checkout Repo
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Test
      run: |
        pip install .
        pip uninstall -y aiobungie
        
        pip install .[dev]
        pip uninstall -y aiobungie
        
    - name: Pytest tests
      run: |
        pip install nox
        nox -s pytest

  format:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Format
        run: |
          pip install nox
          nox -s format spell check_black

  lint:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Linting
        run: |
          pip install nox
          nox -s lint

  type_check:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Type Check
        run: |
          pip install nox
          nox -s gen_stubs
          nox -s type_check

  docs:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Build
        run: |
          pip install nox
          nox -s pdoc
  # This is still broken.
  deploy:
    if: github.event_name == 'release'
    needs: [test]

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Deploy
        uses: abatilo/actions-poetry@v2.1.2
        with:
          poetry-version: 1.1.7

      - name: Publish
        run: poetry publish --build
