name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types: [published]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", 3.11, 3.12, 3.13]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Checkout Repo
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Test
        run: |
          pip install .
          pip uninstall -y aiobungie

          pip install .[dev]
          pip uninstall -y aiobungie

      - name: Pytest tests
        run: |
          pip install nox
          nox -s pytest

  client_test:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Client Tests
        env:
          CLIENT_TOKEN: ${{ secrets.CLIENT_TOKEN }}
        run: |
          pip install nox
          pip install .
          nox -s client

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Format
        run: |
          pip install nox
          nox -s format spell

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Linting
        run: |
          pip install nox
          nox -s lint

  type_check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Type Check
        run: |
          pip install nox
          nox -s stubgen
          nox -s type-check

  docs:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Build
        run: |
          pip install nox
          nox -s pdoc

      - name: Upload docs
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: ./docs
          if-no-files-found: error

  deploy:
    if: github.event_name == 'release'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: 1.7.1

      - name: Publish
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPY_TOKEN }}
          poetry publish --build
